{% extends 'ResqueBundle::layout.html.twig' %}
{% block body %}
{% include "ResqueBundle:Default:_menu.html.twig" with {activeNav: 'homepage'} %}
    <div class="col-md-12">
        <h2>Queues</h2>
        <p>This list shows all registered queues with the number of jobs currently in each queue.</p>
            <table class="table table-bordered">
               <thead>
               <tr>
                  <th class="span3">Name</th>
                  <th class="span2">Jobs</th>
              </tr>
              </thead>
              {% for queue in resque.queues %}
                 <tr>
                     <td>{{ queue.name }}</td>
                     <td><a href="{{ path('ResqueBundle_queue_show', { queue: queue.name }) }}">{{ queue.size }}</a></td>
                  </tr>
                {% endfor %}
                <tr>
                    <td>scheduled</td>
                    <td><a href="{{ path('ResqueBundle_scheduled_list') }}">{{ resque.numberOfDelayedJobs }}</a></td>
                </tr>
                <tr>
                    <td>failed</td>
                    <td><a href="{{ path('ResqueBundle_failed_list') }}">{{ resque.numberOfFailedJobs }}</a></td>
                </tr>

            </table>

        <h2>{{ resque.numberOfWorkingWorkers }} of {{ resque.numberOfWorkers }} Workers Working</h2>
        <p class="lead">The list below contains all workers which are currently running a job.</p>
        {% include "ResqueBundle:Default:workers.table.html.twig" with {workers: resque.runningWorkers } %}

        <h2>Redis</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th class="span3">Host</th>
                <td class="span2">{{ resque.redisConfiguration.host }}</td>
            </tr>
            <tr>
                <th>Port</th>
                <td>{{ resque.redisConfiguration.port }}</td>
            </tr>
            <tr>
                <th>Database</th>
                <td>{{ resque.redisConfiguration.database }}</td>
            </tr>
        </table>

    </div>

{% endblock %}